![portada_tec_monterey.png]()

# <center>Semana 3 - Actividad 1</center>
## Ciencia y Analítica de datos
## _Maestría en Inteligencia Artificial Aplicada (MNA-V)_
### 04/10/2022
### Equipo 24 
#### _Victor Hugo Avila Felipe - A01794425_
#### _Andrés Eduardo Figueroa García - A01378536_

### Glosario
#### [0.- Instrucciones](#Instrucciones)
#### [1.- Parte 1](#Parte1)
#### [2.- Parte 2](#Parte2)
#### [3.- Parte 3](#Parte3)
#### [Referencias](#Ref)

<a id='Instrucciones'></a>
### 0.- Instrucciones
#### Parte 1: Fundamentos de bases de datos
Revisa la página Lecturas del tema 3: Conceptos de almacenamiento y recuperación de información, y describe tus insights o entendimiento de cada uno de los subtemas: (Alrededor de 200 palabras)

 1. Fundamentos de bases de datos y para ciencia de datos.  
 2. Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.



#### Parte 2: Selección y limpieza de los Datos en Python

Para este actividad usa el base de datos encontrados por [aquí](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv):  su descripción [aquí](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt). 

 1. Revisa detenidamente la página [Ejercicio guiado para: Selección y limpieza de los Datos en Python](https://github.com/PosgradoMNA/Actividades_Aprendizaje-/blob/main/limpieza.ipynb).
 2. En Google Colab ( = Jupyter notebook, o bien alguna otra IDE de su interés), escribe tu código para realizar la selección y limpieza de los datos como se indica en el ejercicio.
 3. Ejecuta tu código.
 4. Explica con tus palabras (documentas las lineas del codigo en celdas del Text) como funciona tu programa indicando lo que realizaste en la programación, en minimum palabras. 
 

#### Parte 3: Preparación de los datos

Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas: 

 1. ¿Qué datos considero mas importantes? ¿Por qué?
 2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?
 3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?
 4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.
 5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?
**Extensión**: 400 palabras o más entre todas las respuestas.

<a id='Parte1'></a>
### 1.- Parte 1

$\;\;\;\;\;$**1.- Fundamentos de bases de datos y para ciencia de datos.**

El procesamiento de los datos es una parte fundamental para que estos puedan ser utlizados en modelos. La razón es qeu estos pueden estar incompletos, no representar los atributos, ser inconsistentes o presentar ruido. Cuando se habla del procesamiento de datos, se incluye de manera global: Limpieza de datos, transformación de datos y reducción de datos. En otras palabras, se puede decir que es el proceso de identificar y corregir las entradas erróneas.

Se pueden identificar de manera general tres tipos de datos faltantes:
 - **Faltantes Completamente Aleatorios (*MCAR*, Missing Completely at Random)**: No se relaciona coon el valor que se supone que se obtienen, ni con las respuestas observadas. Cuentan como MCAR si se pierden en el tránsito o son insatisfactorias.
 - **Faltantes Aleatorios (*MAR*, Missing at Random)**: Depende del conjunto de respuestas observadas, pero no está relacionada con los valores faltantes que se supone se obtienen.
 - **Faltantes No Aleatorios (*MNAR*, Missing Not at Random)**: Los datos faltantes no son MCAR ni MAR.
 
Para el manejo de estos datos faltantes se tienen las siguientes técnicas, por mencionar algunas:
 - **Eliminación por lista**: Consiste en eliminar todas las instancias que tengan datos faltantes. Esto es una aproximación recomendable si se cuenta con una muestra lo suficientemente grande.
 - **Eliminación por parejas**: Consiste en eliminar una instancia sólo si esta es parte de el análisis a realizar. Se utlizan los datos existentes para las pruebas estadísticas.
 - **Sustitución media**: Los datos faltantes se reemplazan por el valor medio de esa variable. Recomendable en una distribución normal.
 - **Sustitución de la mediana**: Los datos faltantes se reeemplazan por la mediana de la misma variable. Recomendable si los datos faltantes son estrictamente aleatorios.
 - **Imputación de Regresión**: Reemplza el dato faltante con un valor probable estimado usando la información disponible. Esta aproximación no agrega información novedosa y altera ciertos valores estadísticos como  el error estándar. Crece el tamaño de la muesta.
 - **Imputación Múltiple**: Se predicen valores con base en los datos que sí se tienen y se crea un conjunto de datos con estas propuestas. Incorpora incertidumbre a los valores pronosticados y puede reemplazar los valores faltantes con los imputados.
 - **Imputación de cubierta caliente**: Reemplazar el valor faltante de la instancia por uno escogido de maneraaleatoria por de otra instancia con caractarísitcas conocidas similares.
 - **Imputación de cubierta fría**: Reemplazar el valor faltante de la instancia por otra instancia concaractarísitcas conocidas similares. Similar a imputación de cubierta caliente, pero sin que sea aleatorio.
 - **Imputación de regresión escolástica**: Reemplazar el valor faltante por una regresión adicionandoun valor residual.
 
Cada forma de tratar los datos faltantes tiene sus ventajas y desventajas. Es importante tenerlas en cuenta cuando se propone una u otra forma de manejar estos datos.

$\;\;\;\;\;$**2.- Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

Un Almacén de Datos (Data Warehouse) es un conjunto de bases de datos gigantesca, la cual junta información de distintas fuentes con el fin de poder realizar análisis. Estas bases de datos pueden almacenar información de distintos tipos en cuestión de formatos, pero también en cuestión del origen de los mismos: históricos, en tiempo real o procesados.

Dentro de las tareas que tiene un Data Warehouse se incluye la colocación de los datos en un esquema (schema) que permita el análisis en simultáneo. Para esto se manejan comunmente dos corrientes de procesamiento de los datos: ETL y ELT.

ETL proviene de Extract, Transform, Load. Esto quiere decir que los datos primero se extraen de su origen, posteriormente se transforman para ser congurentes y, por último, se vuelven disponibles como parte del Warehouse. Por otro lado, ELT proviene de Extract, Load, Transfomr. En este sentido, se saca provecho de el cómputo en la nube de tal forma que primero se suben los datos como se obtuvieron y ya en el espacio donde serán almacenados, se procesan para ser congruentes.

Hablando de herramientas puntuales, se menciona SQL como una de las principales para poderse conectar y editar bases de datos, ya sea desde un entorno gáfico o a través de queries. Las bases de datos como colecciones de tablas relacionadas entre sí, siguen una descripción dada por el 'schema', teniendo como posibles relaciones: One-to-many, Many-to-many y One-to-one.

Antes de empezar a trabajar con datos, es importante conocer el origne de los mismos, así como ciertos aspectos clave como lo son:
 - Los datos relevantes
 - Identificadores de las tablas
 - Si los datos fueron previamente procesados
 - Si la tabla recibe alguna especia de actualización
 
Por último, es importante mencionar la diferencia que existe entre Data Warehouse y Data Lake. El Data Warehouse contempla el procesamiento de los datos, mientras que el Data Lake se concentra sólo en el almacenamiento de los datos crudos.

<a id='Parte2'></a>
### 2.- Parte 2

#### Índice

##### [Cargar Datos](#CargarDatos)

##### [Solución 1: Descartar](#Sol1)
###### $\;\;\;\;$ [Solución 1.1: Descartar las observaciones con valores faltantes](#Sol1_1)
###### $\;\;\;\;$ [Solución 1.2: Descartar las columnas donde falte al menos un elemento](#Sol1_2)
###### $\;\;\;\;$ [Solución 1.3: Descartar filas donde falten todos los valores](#Sol1_3)
###### $\;\;\;\;$ [Solución 1.4: Descartar filas con un Threshold](#Sol1_4)
###### $\;\;\;\;$ [Solución 1.5: Descartar columnas con un Threshold](#Sol1_5)

##### [Solución 2: Sustituir](#Sol2)
###### $\;\;\;\;$ [Solución 2.1: Sustituir por la media](#Sol2_1)
###### $\;\;\;\;$ [Solución 2.2: Sustituir por la mediana](#Sol2_2)
###### $\;\;\;\;$ [Solución 2.3: Sustituir por la moda](#Sol2_3)
###### $\;\;\;\;$ [Solución 2.4: Sustituir por método de preferencia](#Sol2_4)

##### [Solución Combinada](#Sol3)

<a id='CargarDatos'></a>
#### Cargar Datos

Importar librarías a utilizar.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('max_columns', None)

Cargar el dataframe a utilizar.

In [2]:
mypath = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

df = pd.read_csv(mypath, index_col=0)
df.index.name = None

Se imprimen las primeras 5 líneas del dataframe.

In [3]:
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [4]:
# Revisar las salidas categóricas del DF
df['X6'].value_counts()

 0.0    14736
-1.0     5684
 1.0     3688
-2.0     2759
 2.0     2667
 3.0      322
 4.0       76
 5.0       26
 8.0       19
 6.0       11
 7.0        9
Name: X6, dtype: int64

Se revisa si el Data Frame contiene valores vacíos.

In [5]:
df.isnull().values.any()

True

Se revisa qué columnas contienen valores vacíos.

In [6]:
df.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Se imprime la descripción de la tabal con las principales medidas estadísticas.

In [7]:
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,29984.000000,29986.000000,29989.000000,29989.000000,2.998700e+04,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,-0.266342,-0.291136,51236.862750,49190.734669,4.702535e+04,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,1.133296,1.150134,73645.219278,71183.385123,6.936086e+04,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3565.000000,2986.000000,2.667500e+03,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22387.000000,21207.000000,2.008900e+04,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67139.000000,64027.000000,6.018200e+04,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

Sabiendo que sólo hay 42 filas que contienen elementos vacíos, se imprimen estas para poder ver si hay un patrón en cuanto a las columnas que muestran valores vacíos para estos registros.

In [8]:
df[df.isnull().any(axis=1)]

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
19,360000,2.0,1.0,1.0,49.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,50000,1.0,1.0,2.0,25.0,1.0,-1.0,-1.0,-2.0,-2.0,-2.0,0.0,780.0,0.0,0.0,0.0,NaN,780.0,0.0,0.0,0.0,0.0,0.0,1.0
50,20000,1.0,1.0,2.0,24.0,0.0,0.0,0.0,0.0,NaN,0.0,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,1318.0,1315.0,704.0,928.0,912.0,1069.0,0.0
65,130000,2.0,2.0,1.0,51.0,-1.0,-1.0,-2.0,-2.0,-1.0,-1.0,99.0,0.0,0.0,0.0,2353.0,0.0,0.0,NaN,0.0,2353.0,0.0,0.0,0.0
161,30000,1.0,1.0,2.0,41.0,2.0,2.0,2.0,NaN,2.0,0.0,24357.0,27453.0,26718.0,28168.0,27579.0,28321.0,3500.0,0.0,2200.0,NaN,1200.0,1250.0,0.0
174,50000,2.0,1.0,2.0,24.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,-709.0,-709.0,-709.0,-2898.0,-3272.0,-3272.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0
176,130000,1.0,3.0,1.0,56.0,1.0,2.0,2.0,2.0,2.0,3.0,64617.0,65978.0,67282.0,68557.0,NaN,71345.0,3000.0,3000.0,3000.0,5500.0,0.0,0.0,1.0
183,500000,2.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,56422.0,110616.0,110340.0,122967.0,108834.0,70064.0,70010.0,30357.0,30000.0,20000.0,52183.0,20000.0,0.0
220,310000,2.0,1.0,2.0,NaN,-1.0,-1.0,-1.0,-1.0,-2.0,-2.0,1424.0,4542.0,126.0,0.0,0.0,0.0,4542.0,126.0,0.0,0.0,0.0,0.0,0.0
234,190000,1.0,2.0,2.0,34.0,2.0,0.0,0.0,0.0,NaN,2.0,129801.0,131383.0,134379.0,142323.0,140120.0,150052.0,5000.0,5000.0,10000.0,0.0,12118.0,2769.0,1.0
240,140000,2.0,2.0,3.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,19346.0,21708.0,22940.0,19068.0,16409.0,16383.0,3000.0,2000.0,2198.0,1000.0,3000.0,2399.0,1.0
241,60000,2.0,1.0,2.0,28.0,1.0,2.0,2.0,-2.0,-2.0,-1.0,21501.0,20650.0,0.0,0.0,NaN,2285.0,0.0,0.0,0.0,0.0,2285.0,0.0,0.0
246,20000,2.0,2.0,2.0,40.0,0.0,0.0,0.0,0.0,0.0,-2.0,19816.0,20396.0,20102.0,19575.0,0.0,0.0,1601.0,2203.0,2114.0,NaN,NaN,0.0,0.0
247,250000,2.0,2.0,1.0,75.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,52874.0,1631.0,1536.0,1010.0,5572.0,794.0,1631.0,1536.0,1010.0,5572.0,NaN,NaN,0.0
248,100000,2.0,2.0,2.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,37767.0,34457.0,30036.0,30337.0,30997.0,32904.0,1788.0,1799.0,1100.0,1150.0,2423.0,NaN,0.0
6228,30000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0
6233,60000,2.0,2.0,2.0,29.0,2.0,2.0,2.0,0.0,0.0,0.0,41387.0,42117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6269,120000,1.0,2.0,2.0,29.0,1.0,2.0,0.0,0.0,NaN,NaN,87376.0,85135.0,86024.0,91380.0,93263.0,95079.0,0.0,3200.0,6800.0,3500.0,3500.0,0.0,1.0
6270,400000,2.0,1.0,2.0,27.0,1.0,-2.0,-1.0,0.0,NaN,NaN,140.0,140.0,12527.0,12640.0,14805.0,238.0,140.0,12527.0,253.0,2305.0,238.0,238.0,0.0
6271,50000,2.0,1.0,1.0,55.0,0.0,0.0,0.0,0.0,NaN,NaN,25043.0,26411.0,27451.0,19431.0,19837.0,20232.0,1775.0,1815.0,695.0,719.0,724.0,750.0,0.0
6277,30000,1.0,3.0,1.0,32.0,0.0,0.0,0.0,0.0,0.0,-1.0,28292.0,30494.0,28317.0,NaN,NaN,1400.0,3000.0,1431.0,483.0,0.0,700.0,0.0,0.0
6278,110000,2.0,1.0,2.0,32.0,1.0,2.0,0.0,0.0,0.0,2.0,58679.0,56871.0,56279.0,NaN,NaN,25453.0,1210.0,2056.0,1200.0,2300.0,0.0,1000.0,1.0
6279,20000,2.0,3.0,2.0,54.0,0.0,0.0,2.0,2.0,2.0,0.0,9777.0,10140.0,9360.0,NaN,NaN,9116.0,2000.0,1000.0,1000.0,0.0,500.0,500.0,0.0
6383,80000,2.0,2.0,1.0,30.0,1.0,2.0,0.0,0.0,NaN,NaN,82891.0,80997.0,81380.0,75374.0,77158.0,78710.0,0.0,3299.0,2699.0,3000.0,2987.0,3100.0,0.0
6384,90000,1.0,2.0,2.0,29.0,0.0,0.0,0.0,0.0,NaN,NaN,86294.0,88412.0,89853.0,69362.0,70537.0,56775.0,4400.0,4111.0,2100.0,2200.0,2510.0,2000.0,0.0
6385,20000,2.0,2.0,2.0,22.0,0.0,0.0,0.0,0.0,NaN,NaN,17807.0,18520.0,39053.0,20055.0,19606.0,19925.0,1298.0,1909.0,1666.0,5000.0,703.0,775.0,0.0
17990,80000,1.0,2.0,1.0,46.0,0.0,0.0,NaN,0.0,0.0,0.0,79707.0,79876.0,79919.0,64237.0,47890.0,48036.0,3542.0,3500.0,2500.0,2000.0,2500.0,2000.0,0.0
17991,50000,1.0,3.0,2.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,94962.0,49032.0,NaN,50269.0,29182.0,29096.0,4200.0,2200.0,3300.0,1200.0,1100.0,1100.0,0.0
18004,70000,1.0,2.0,2.0,33.0,1.0,2.0,NaN,7.0,7.0,6.0,26181.0,37611.0,37026.0,38922.0,38318.0,38133.0,12000.0,0.0,2500.0,0.0,1000.0,1500.0,0.0
23944,20000,1.0,2.0,2.0,24.0,0.0,0.0,2.0,3.0,2.0,2.0,14068.0,16706.0,18342.0,17755.0,17967.0,17538.0,3200.0,2200.0,0.0,800.0,NaN,1401.0,0.0
23991,60000,1.0,2.0,2.0,26.0,0.0,0.0,0.0,NaN,0.0,0.0,59487.0,59199.0,59326.0,58938.0,30101.0,29735.0,2113.0,2500.0,3000.0,2500.0,1500.0,1100.0,0.0
23992,50000,1.0,3.0,2.0,25.0,0.0,0.0,0.0,NaN,2.0,2.0,47727.0,45926.0,47095.0,49485.0,49083.0,45187.0,2100.0,2200.0,3500.0,2000.0,0.0,5151.0,0.0
23993,50000,1.0,2.0,2.0,24.0,0.0,0.0,0.0,NaN,0.0,0.0,46521.0,47597.0,48799.0,41286.0,16764.0,16960.0,2150.0,2352.0,1239.0,717.0,585.0,589.0,0.0
24124,50000,1.0,1.0,2.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,0.0
24366,130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0
29734,300000,1.0,2.0,1.0,37.0,-2.0,-2.0,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3081.0,0.0
29735,500000,1.0,2.0,1.0,49.0,-1.0,-1.0,2.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0,1.0
29736,50000,1.0,3.0,1.0,40.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,406.0,1.0
29825,40000,1.0,1.0,1.0,47.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29826,50000,1.0,2.0,1.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29833,20000,1.0,2.0,2.0,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20090.0,1279.0,3000.0,6668.0,468.0,507.0,5582.0,0.0
29834,20000,1.0,2.0,2.0,31.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19103.0,390.0,780.0,0.0,806.0,19103.0,1000.0,1.0

<a id='Sol1'></a>
#### Solución 1: Descartar

<a id='Sol1_1'></a>
##### Solución 1.1:  Descartar las observaciones con valores faltantes

In [9]:
df1_1 = df.copy()
df1_1.dropna(inplace = True)

In [10]:
df1_1.isnull().values.any()

False

In [11]:
# df1_1.describe()

La solución me parece aceptable porque se eliminaron 42 filas de 30,000. Esto equivale a 0.14% de los datos, lo cual no es significativo.

<a id='Sol1_2'></a>
##### Solución 1.2: Descartar las columnas donde falte al menos un elemento

In [12]:
df1_2 = df.copy()
df1_2.dropna(axis = 1, inplace = True)

In [13]:
df1_2.isnull().values.any()

False

In [14]:
# df1_2.describe()

Esta solución no es buena, ya que como se vio en el análisis inicial todas las columnas presentan datos faltantes.

<a id='Sol1_3'></a>
##### Solución 1.3: Descartar filas donde falten todos los valores

In [15]:
df1_3 = df.copy()
df1_3.dropna(how='all', inplace = True)

In [16]:
df1_3.isnull().values.any()

True

In [17]:
# df1_3.describe()

Esta solución tampoco es buena, ya que no logra eliminar niguna de las filas con valores faltantes.

<a id='Sol1_4'></a>
##### Solución 1.4: Descartar filas con un Threshold

Mantenga solo las filas con al menos 15 valores que  **NO SEAN** `nan`
El valor de 15 se obtiene de un proceso iterativo realizado a mano donde se desplegaban los resultaods con distintos thresholds sin que uan fila tuviera una cantida excesiva. Con este valor se pierden únicamente 11 filas de 30000. Esto equivale a 0.037% de los datos.

In [18]:
df1_4 = df.copy()
df1_4.dropna(thresh=15, inplace = True)

In [19]:
df1_4.isnull().values.any()

True

In [20]:
# df1_4.describe()
# df1_4.isnull().any()
# df1_4[df1_4.isnull().any(axis=1)]
# df1_4

Es una solución en la que muchas columnas siguen mostrando valores faltantes. Revisar si se puede ajustar el threshold para obtener mejores resultados.

<a id='Sol1_5'></a>
##### Solución 1.5: Descartar columnas con un Threshold

In [21]:
df1_5 = df.copy()
df1_5.dropna(thresh = 29990, axis = 1, inplace = True)

In [22]:
df1_5.isnull().values.any()

True

In [23]:
# df1_5.describe()

No es una solución viable porque elimina una gran cantidad de columnas. Revisar si se puede ajustar el threshold para obtener mejores resultados.

<a id='Sol2'></a>
#### Solución 2: Sustituir

<a id='Sol2_1'></a>
##### Solución 2.1: Sustituir por la media

In [24]:
df2_1 = df.copy()
for column in df2_1.columns:
    avg = df2_1[column].mean()
    df2_1[column].fillna(value = avg, inplace = True)

In [25]:
df2_1.isnull().values.any()

False

In [26]:
# df2_1.describe()

Esta sustitución puede generar problemas en valores estadísticos como el error o la desviación estándar.

<a id='Sol2_2'></a>
##### Solución 2.2: Sustituir por la mediana

In [27]:
df2_2 = df.copy()
for column in df2_1.columns:
    med = df2_2[column].median()
    df2_2[column].fillna(value = med, inplace = True)

In [28]:
df2_2.isnull().values.any()

False

In [29]:
# df2_2.describe()

Esta sustitución puede generar problemas si los datos tienen una distribución uniforme.

<a id='Sol2_3'></a>
##### Solución 2.3: Sustituir por la moda

In [30]:
df2_3 = df.copy()
for column in df2_3.columns:
    mod = df2_3[column].mode()[0]
    df2_3[column].fillna(value = mod, inplace = True)

In [31]:
df2_3.isnull().values.any()

False

In [32]:
# df2_3.describe()

Esta sustitución puede no ser conveniente en casos donde los datos no sean categóricos.

<a id='Sol2_4'></a>
##### Solución 2.4: Sustituir por método de preferencia

In [33]:
df2_4 = df.copy()

favs = {'X1': df2_4['X1'].mean(),		# Monto del crédito dado
        'X2': df2_4['X2'].mode()[0],    # Género
        'X3': df2_4['X3'].mode()[0],    # Nivel de educación
        'X4': df2_4['X4'].mode()[0],    # Estado civil
        'X5': df2_4['X5'].mean(),       # Edad
        'X6': df2_4['X6'].mode()[0],    # Status de pago septiembre
        'X7': df2_4['X7'].mode()[0],    # Status de pago agosto
        'X8': df2_4['X8'].mode()[0],    # Status de pago julio
        'X9': df2_4['X9'].mode()[0],    # Status de pago junio
        'X10': df2_4['X10'].mode()[0],  # Status de pago mayo
        'X11': df2_4['X11'].mode()[0],  # Status de pago abril
        'X12': df2_4['X12'].mean(),     # Monto del estado de cuenta septiembre
        'X13': df2_4['X13'].mean(),     # Monto del estado de cuenta agosto
        'X14': df2_4['X14'].mean(),     # Monto del estado de cuenta julio
        'X15': df2_4['X15'].mean(),     # Monto del estado de cuenta junio
        'X16': df2_4['X16'].mean(),     # Monto del estado de cuenta mayo
        'X17': df2_4['X17'].mean(),     # Monto del estado de cuenta abril
        'X18': df2_4['X18'].mean(),     # Monto del pago del mes anterior a septiembre
        'X19': df2_4['X19'].mean(),     # Monto del pago del mes anterior a agosto
        'X20': df2_4['X20'].mean(),     # Monto del pago del mes anterior a julio
        'X21': df2_4['X21'].mean(),     # Monto del pago del mes anterior a junio
        'X22': df2_4['X22'].mean(),     # Monto del pago del mes anterior a mayo
        'X23': df2_4['X23'].mean(),     # Monto del pago del mes anterior a abril
        'Y': df2_4['Y'].mode()[0]       # Variable de salida: Pago por default
       }

for column in df2_4.columns:
    if column in favs:
        df2_4[column].fillna(value = favs[column], inplace = True)

In [34]:
df2_4.isnull().values.any()

False

In [35]:
# df2_4.describe()

Esta sustitución puede ser personalizada para cada columna, minimizando así el impacto negativo de los distintos tipos de sustituciones.

<a id='Sol3'></a>
#### Solución Combinada

Se realizará primero una eliminación con threshold donde se eliminen aquellas filas que no contengan al menos 15 valores en ellos.

In [36]:
df3_1 = df.copy()
df3_1.dropna(thresh=15, inplace = True)

In [37]:
# df3_1[df3_1.isnull().any(axis=1)]

In [38]:
print("Después de la eliminacion mentenemos: {} filas".format(df3_1.shape[0]))
print("Esto equivale a haber perdido el {:.4f}% de las filas originales".format((1 - (df3_1.shape[0]/df.shape[0]))*100))

Después de la eliminacion mentenemos: 29989 filas
Esto equivale a haber perdido el 0.0367% de las filas originales

Posteriormente se realizará la sustitución por media, moda y mediana, según sea el caso. Para esto se consideró que valores continuos se sustituyeran por la media, mientra que los categóricos se sustituyeran por la moda.

In [39]:
favs = {'X1': df3_1['X1'].mean(),		# Monto del crédito dado
        'X2': df3_1['X2'].mode()[0],    # Género
        'X3': df3_1['X3'].mode()[0],    # Nivel de educación
        'X4': df3_1['X4'].mode()[0],    # Estado civil
        'X5': df3_1['X5'].mean(),       # Edad
        'X6': df3_1['X6'].mode()[0],    # Status de pago septiembre
        'X7': df3_1['X7'].mode()[0],    # Status de pago agosto
        'X8': df3_1['X8'].mode()[0],    # Status de pago julio
        'X9': df3_1['X9'].mode()[0],    # Status de pago junio
        'X10': df3_1['X10'].mode()[0],  # Status de pago mayo
        'X11': df3_1['X11'].mode()[0],  # Status de pago abril
        'X12': df3_1['X12'].mean(),     # Monto del estado de cuenta septiembre
        'X13': df3_1['X13'].mean(),     # Monto del estado de cuenta agosto
        'X14': df3_1['X14'].mean(),     # Monto del estado de cuenta julio
        'X15': df3_1['X15'].mean(),     # Monto del estado de cuenta junio
        'X16': df3_1['X16'].mean(),     # Monto del estado de cuenta mayo
        'X17': df3_1['X17'].mean(),     # Monto del estado de cuenta abril
        'X18': df3_1['X18'].mean(),     # Monto del pago del mes anterior a septiembre
        'X19': df3_1['X19'].mean(),     # Monto del pago del mes anterior a agosto
        'X20': df3_1['X20'].mean(),     # Monto del pago del mes anterior a julio
        'X21': df3_1['X21'].mean(),     # Monto del pago del mes anterior a junio
        'X22': df3_1['X22'].mean(),     # Monto del pago del mes anterior a mayo
        'X23': df3_1['X23'].mean(),     # Monto del pago del mes anterior a abril
        'Y': df3_1['Y'].mode()[0]       # Variable de salida: Pago por default
       }

for column in df3_1.columns:
    if column in favs:
        df3_1[column].fillna(value = favs[column], inplace = True)

Esto hace que ya no se tengan valores faltantes

In [40]:
df3_1.isnull().values.any()

False

Por último se comparan los describes de el DF original y el nuevo para analizar si hubo afectación.

In [41]:
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,29984.000000,29986.000000,29989.000000,29989.000000,2.998700e+04,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,-0.266342,-0.291136,51236.862750,49190.734669,4.702535e+04,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,1.133296,1.150134,73645.219278,71183.385123,6.936086e+04,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3565.000000,2986.000000,2.667500e+03,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22387.000000,21207.000000,2.008900e+04,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67139.000000,64027.000000,6.018200e+04,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [42]:
df3_1.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000,2.998900e+04,29989.000000,29989.000000,29989.00000,29989.000000,2.998900e+04,29989.000000,29989.000000,29989.000000,29989.000000,29989.000000
mean,167504.074161,1.603921,1.853046,1.551936,35.483759,-0.016706,-0.133749,-0.166594,-0.220814,-0.266364,-0.291173,51237.191210,49190.970555,4.702535e+04,43275.652326,40324.493980,38883.01424,5663.403848,5.922910e+03,5225.868352,4827.522711,4800.088475,5217.282889,0.221148
std,129737.896956,0.489089,0.790377,0.521972,9.218037,1.123711,1.197187,1.195922,1.169105,1.133133,1.150005,73645.197312,71183.373402,6.935855e+04,64341.208513,60803.901247,59562.00936,16564.929541,2.304491e+04,17609.263532,15668.714461,15280.583398,17780.491347,0.415027
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.00000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3565.000000,2986.000000,2.668000e+03,2329.000000,1765.000000,1256.00000,1000.000000,8.360000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22387.000000,21207.000000,2.009000e+04,19055.000000,18120.000000,17080.00000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67139.000000,64027.000000,6.018000e+04,54558.000000,50207.000000,49209.00000,5006.000000,5.000000e+03,4505.000000,4014.000000,4037.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.00000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

<a id='Parte3'></a>
### 3.- Parte 3

$\;\;\;\;\;$**1.- ¿Qué datos considero mas importantes? ¿Por qué?**

Si estuviera limitado en la cantidad de datos que se me pueden proporcionar, creo que los más valiosos correponden a **X6 - X11**, **X18 - X23** y, principalmente **X1** al ser el monto del crédito aprobado. La razón es que estos datos relacionan el monto del pago anterior con el historial de pago (status), lo cual me parece importante para obtener la variable de salida que es el pago por default.

$\;\;\;\;\;$**2.- ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

En la propuesta final que se realiza después de haber llevado a cabo distintas aproximaciones al problema, se implemento una solución que combina ambos tratamientos del problema: eliminar y sustituir.

Se eliminaron las filas que no poseían al menos 15 valores, ya que estas se consideraron con información insuficiente para poder procesar modelos.

Se sustituyeron las filas restantes con base en el tipo de variable que se maneja. Para variables categóricas se sustituypo con la moda, mientras que para vairables continuas se sustituyó con la media. Idealmente nos hubiera gustado realizar imputación por regresión, pero no es parte de las herramientas que formaban parte de la actividad, por lo que la sustitución era una buena opción.

$\;\;\;\;\;$**3.- ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**

En este caso no se vio como necesario, ya que los datos no están relacionados entre ellos de una manera secuencial conforme a la descripción del dataset. Cada fila contenía en sus columnas la relación temporal de los datos a tener en cuenta.

Sin embargo, es recomendable el reordenar las columnas para que tengan una secuencia temporal, ya que de otra forma resulta contraintuitivo el ordenque se maneja.

$\;\;\;\;\;$**4.- ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

Sí, pero al no tener más información acerca de cómo se obtuvieron los datos, es difícil saber qué acción tomar. Ejemplos de esto serían:
**X3** que cuenta con valores de 0, 5 y 6, los cuales no están contemplados en la descripción del dataset.
**X4** que cuenta con valores de 0, el cual no está contemplado en la descripción del dataset.
**X6 - X11** que cuentan con valores de -2, el cual no está contemplado en la descripción del dataset.

Al no tener un contexto mejor de la forma en que obtuvieron los datos, se pueden hacer suposiciones, pero no se tiene certeza. Por ejemplo, podría asumir que el -2 de **X6 - X11** se trata de un 2 positivo que fue mal capturado, pero de igual manera se puede tratar de un registro que no viene en la descripción del dataset. Este razonamiento podría repetirse para los otros dos casos mencionados.

Es claro que puede haber un error, pero es difícil determinar si el error está en los datos mismos o en la descripción que tenemos de ellos.

$\;\;\;\;\;$**5.- ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

En el proceso de limpieza se realizó únicamente la eliminación de aquellas filas que carcían de al menos 8 datos en ellas. Posteriormente, con las filas restantes, se realizó un procesos de sustitución donde el cambio dependía de si la columna tenía valores de tipo categórico o continuo, para intercambiar el valor nulo por la moda o mediana, respectivamente.

Adicional a este proceso de limpieza, se cambian los encabezados de las columnas por variables que sean más descriptivas de los valores que continene y con un órden definido.

<a id='Ref'></a>
### Referencias

Amazon Web Services, Inc. (n.d.). *Data Warehouse Concepts*. Consultado el 02 de Octubre de 2022, de Amazon Web Services, Inc.: https://aws.amazon.com/data-warehouse/

Grase-Martin, K. (n.d.). *Missing Data: Two Big Problems with Mean Imputation*. Consultado el 02 de Octubre de 2022, de The Analysis Factor: https://www.theanalysisfactor.com/mean-imputation/

Grase-Martin, K. (n.d.). *Seven Ways to Make up Data: Common Methods to Imputing Missing Data*. Consultado el 02 de Octubre de 2022, de The Analysis Factor: https://www.theanalysisfactor.com/seven-ways-to-make-up-data-common-methods-to-imputing-missing-data/

Kane, F. (2017). *Hands-on Data Science and Python Machine Learning*. Packt. https://newoutlook.it/download/python/hands-on-data-science.pdf

Metwalli, S. (2020). *Databases 101: Introduction to Databases for Data Scientists*. Consultado el 02 de Octubre de 2022, de Towards Data Science: https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d

Oracle. (n.d.). *What Is a Data Warehouse?* Consultado el 02 de Octubre de 2022, de Oracle Cloud: https://www.oracle.com/database/what-is-a-data-warehouse/

Teate, R. (2021). *SQl for Data Scientists*. Wiley. https://learning.oreilly.com/library/view/sql-for-data/9781119669364/