![portada_tec_monterey.png]()

# <center>Semana 3 - Actividad 1</center>
## Ciencia y Analítica de datos
## _Maestría en Inteligencia Artificial Aplicada (MNA-V)_
### 04/10/2022
### Equipo 24 
#### _Victor Hugo Avila Felipe - A01794425_
#### _Andrés Eduardo Figueroa García - A01378536_

### Glosario
#### [0.- Instrucciones](#Instrucciones)
#### [1.- Parte 1](#Parte1)
#### [2.- Parte 2](#Parte2)
#### [3.- Parte 3](#Parte3)
#### [Referencias](#Ref)

<a id='Instrucciones'></a>
### 0.- Instrucciones
#### Parte 1: Fundamentos de bases de datos
Revisa la página Lecturas del tema 3: Conceptos de almacenamiento y recuperación de información, y describe tus insights o entendimiento de cada uno de los subtemas: (Alrededor de 200 palabras)

 1. Fundamentos de bases de datos y para ciencia de datos.  
 2. Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.



#### Parte 2: Selección y limpieza de los Datos en Python

Para este actividad usa el base de datos encontrados por [aquí](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv):  su descripción [aquí](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt). 

 1. Revisa detenidamente la página [Ejercicio guiado para: Selección y limpieza de los Datos en Python](https://github.com/PosgradoMNA/Actividades_Aprendizaje-/blob/main/limpieza.ipynb).
 2. En Google Colab ( = Jupyter notebook, o bien alguna otra IDE de su interés), escribe tu código para realizar la selección y limpieza de los datos como se indica en el ejercicio.
 3. Ejecuta tu código.
 4. Explica con tus palabras (documentas las lineas del codigo en celdas del Text) como funciona tu programa indicando lo que realizaste en la programación, en minimum palabras. 
 

#### Parte 3: Preparación de los datos

Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas: 

 1. ¿Qué datos considero mas importantes? ¿Por qué?
 2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?
 3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?
 4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.
 5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?
**Extensión**: 400 palabras o más entre todas las respuestas.

<a id='Parte1'></a>
### 1.- Parte 1

$\;\;\;\;\;$**1.- Fundamentos de bases de datos y para ciencia de datos.**

**Hands-On Data Science**

El almacen de datos (Data Warehousing) se refiere a un conjunto de bases de dtaos gigantesca que proviene de diferentes fuentes y se unifica para su consulta.

Parte de las tareas del almacén de datos es que coloca los datos en una especie de esquema en el que permite su análisis simultáeno y permite obtener insights a través de análsis de los datos.

Los retos que se pueden enoncontrar dentro de el almacén de datos están: la normalización , transformación, escalamiento.

ETL vs ELT
ETL: Extract, Transform, Load
ELT: Extract, Load, Transform

ELT tiene en cuenta que los repositorios de datos cuentan con herramientas hacer la carga de datos previo a la transformación.

**SQL for Data Scientists**

Los datos pueden venir en múltiples presentaciones y de distintas fuentes, por lo que al correr un modelo y no obtener los resultados esperados, se puede en ocasiones encontrar el origen del error en la forma en que se recolectaron los datos que se utilizan. 

Los datos pueden ser almacenados de distintas formas y estructuras (estructurados y no estrucurados).

Excel es un ejemplo común de guardar los datos de manera estructurada, que crea hojas de cálcula que se pueden conectar entre sí, aunque para poder crear tablas relaciones, Microsoft cuenta con Access.

La lógica detras del uso y diseño de bases de datos relaciones es la misma, aunque puede cambiar la sintaxis.

La Sistemas de Manejo de Bases de Datos Relacionales (RDNMS, por sus siglas en inglés) más populares incluyen:
 - Oracle
 - MySQL
 - MS SQL Server
 - PostgreSQL
 - Amazon Redshift
 - IBM DB2
 - MS Access
 - SQLite
 - Snowflake
 
La primer parte importante para poder trabajar con bases de datos son las herramientas para conectarse y editar las bases de datos (SQL generalmente). Para esto se puede hacer desde un Entorno de Desarrollo Integrado (IDE, por sus siglas en inglés) o desde una Intefaz Gráfica de Usuario (GUI, por sus siglas en inglés). El fin de esto es poder correr 'queiries' para extraer datos y almacenarlos en una estructura conveniente para el análisis a realizar.

Una Tabla de una Base de Datos se puede considerar como un conjunto de valores ordenados en tablas, la cual cuenta con encabezados en las columnas e identificadores en las filas. Cada tabal puede contener diferentes tipos de datos a un distinto nivel de detalle.

Existen algunos términos que suelen ser usados de manera indiferente:
 - Entity, objeto, concepto
 - Record, fila
 - Campo, atributo, columna
 
Luego entonces, una Base de Datos es una colección de tablas relaciones, mientras que el 'schema' es la descipción de la base de datos y otros objetos, así como la relación entre ellos.

Las relaciones entre las distintas tablas pueden ser:
 - One-to-many
 - Many-to-many
 - One-to-one
 
La representación gráfica de estas relaciones se le conoce como Diagrama de Relación de Entidad (ERD, por sus siglas en inglés).

En una tabla se tiene una columna o ocmbinación de columnas qeu identifican a cada fila. Esta se le conoce como Primary Key, las cuales no pueden ser vacías (NULL). Ejemplo de esto puede ser el número de identifiación de un empleado o el número serial de una computadora. En aplicaciones del día a día es una práctica comun tener un valor que se aumente de una fila ingresada otra (como un contador).

Los almacenes de datos pueden ser utilizados para guardar datos de distintos tipos y fuentes. Entre ellos se pueden encontrar datos históricos, en tiempo real o un estado previo que se guarda como resultado de un análisis.

Una forma pupular de modelas los almacenes de datos es con un 'Esquema Estrella', donde se tiene hechos (facts) y dimensiones (dimensions), siendo la primera de estas los datos específicos de la entidad, mientras que la segunda propiedades que se pueden agrupar respecto a un elemento en particular dentro de la entidad misma.

Conocer el origen de tus datos. Proponen unas preguntas claves que pueden ser de ayuda cuando se empieza a conocer un almacén de datos. Las preguntas incluyen de forma general información acerca de:
 - Tabla con datos relevantes
 - Los identificadores principales que tiene cada tabla
 - Si los datos en las tablas recibieron algua especie de tratamiento
 - Es una tabla que se actualiza o es estática
 - Los datos se colectan de forma automática

**AWS**

Una forma de estructurar un almacén de datos sería separando entre accesos a aplicaciones, a mecanismos de análisis y los servidores de la base de datos.

Además, se puede distinguir entre datos qeu se accesan de forma recurrente y otros que no. Donde los de forma recurrente conviene que tengan más velocidad (SSD) y los menos recurrentes la velocidad no es crítica (HDD).

Los propósitos de un almacén de datos es asegurar la calidad, cosistencia y presición de los datos, al mismo tiempo que se consolida información de distintas fuentes.

**Oracle**

Un almacén de datos contiene generalmente una base de datos relaciona, ELT, análisis estadístico, reportes y herramientas de visualización y presentarla a usuarios finales.

El Data Warehouse contempla el análsisi de los datos, mientras que el Data Lake se concentra en sólo el almacenamiento de los datos.
$\;$
$\;$

**TDS**

La ciencia de datos se encarga de todo: juntas datos, limpiarlos, analizarlos y visualizarlos.

Las Bases de Datos facilitan el manejo de la información para distintos propósitos. Se cuentan con dos tipos de Bases de Datos:
Relational y No Relational

Relational: Se guarda en tablas que pueden estar relacionadas entre ellas por un parámetro.
No Relational: Se guarda en tables que se relacionan entre ellas por categorías.

CAP: Consistency, Availability, Partition tolerance.

$\;\;\;\;\;$**2.- Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

**Canvas**

Las Bases de Datos incompletas deben de ser transformadas para que posteriormente los modelos puedan procesarlas. Esto puede ser que estén incompletos, que nos valores no representen atributos, que no sean consistentes o que tenga ruido por valores atípicos, entre otros.

El preprocesamiento de datos incluye:
 - Limpieza de datos
 - Transformación de datos
 - Reducción de datos
 
Se podría definir como el proceso de identificar y corregir las entradas erroneas de un conjunto de datos.

Se requiere manejar datos faltantes porque estos pueden llevar a que un algoritmo no funcione, o bien, que arroje resultados no válidos.

Existen tres tipos de datos faltantes:
 - **Faltantes Completamente Aleatorios (*MCAR*, Missing Completely at Random)**: No se relaciona coon el valor que se supone que se obtienen, ni con las respuestas observadas. Cuentan como MCAR si se pierden en el tránsito o son insatisfactorias.
 - **Faltantes Aleatorios (*MAR*, Missing at Random)**: Depende del conjunto de respuestas observadas, pero no está relacionada con los valores faltantes que se supone se obtienen.
 - **Faltantes No Aleatorios (*MNAR*, Missing Not at Random)**: Los datos faltantes no son MCAR ni MAR.
 
Para manejar los datos faltantes, se tienen las siguientes técnicas:
 - **Eliminación por lista**: Consiste en eliminar todas las instancias que tengan datos faltantes. Esto es una aproximación recomendable si se cuenta con una muestra lo suficientemente grande.
 - **Eliminación por parejas**: Consiste en eliminar una instancia sólo si esta es parte de el análisis a realizar. Se utlizan los datos existentes para las pruebas estadísticas.
 - **Sustitución media**: Los datos faltantes se reemplazan por el valor medio de esa variable. Recomendable en una distribución normal.
 - **Sustitución de la mediana**: Los datos faltantes se reeemplazan por la mediana de la misma variable. Recomendable si los datos faltantes son estrictamente aleatorios.
 - **Imputación de Regresión**: Reemplza el dato faltante con un valor probable estimado usando la información disponible. Esta aproximación no agrega información novedosa y altera ciertos valores estadísticos como  el error estándar. Crece el tamaño de la muesta.
 - **Imputación Múltiple**: Se predicen valores con base en los datos que sí se tienen y se crea un conjunto de datos con estas propuestas. Incorpora incertidumbre a los valores pronosticados y puede reemplazar los valores faltantes con los imputados.

El ruido es un error aleatorio o variación en una variable medible. En otras palabras, se trata de un valor atípico fuera del patrón general de la distribución. Las técinas para suavisar el ruido incluyen:
 - **Agrupación**: Suavizan un valor de datos consultando los vlores que lo rodean. Esto distribuye los valores ordenados en contenedores. También se pueden corregir datos incosistentes utlizando conocimiento de expertos.
 - **Diagrama de caja y bigotes**: este diagrama muestra la distribución de los datos basada en: Mínimo, primer cuartil, mediana, tercer cuartil y máximo.

**Missing Data: Two Big Problems with Mean Imputation**

La Sustitución Media presenta algunos problemas como:
 - No preserva la relación entre variables. Esto es importante cuando se quieren obtener correlaciones o alguna otra medida estadística más allá de la media.
 - Dismimuye el impcato de otras estadísticas como el error estándar, ya que este se vuelve más pequeño.

**Seven Ways to Make up Data: Common Methods to Imputing Missing Data**

 1. **Substitution**: Reemplazar la instancia por una que no estaba en tus datos originales.
 2. **Hot deck imputation**: Reemplazar el valor faltante de la instancia por uno escogido de manera aleatoria por de otra instancia con caractarísitcas conocidas similares.
 3. **Cold deck imputation**: Reemplazar el valor faltante de la instancia por otra instancia con caractarísitcas conocidas similares. Similar a Hot deck imputation, pero sin que sea aleatorio.
 4. **Regression imputation**: Reemplazar el valor faltante por uno estimado con regresiones de las demás variables presentes en otras instancias.
 5. **Scholastic regression imputation**: Reemplazar el valor faltante por una regresión adicionando un valor residual.
 6. **Imputación simple**: Se propone solo una estimación del valor faltante. Resulta en parámetos viciados como media, correlación, regresiones de coeficientes y errores estándar.
 7. **Imputación múltiple**: Se proponen múltipes valores que pueden llevar a estimación de parámetros no viciada y errores estándar precisos.

<a id='Parte2'></a>
### 2.- Parte 2

#### Índice

##### [Cargar Datos](#CargarDatos)

##### [Solución 1: Descartar](#Sol1)
###### $\;\;\;\;$ [Solución 1.1: Descartar las observaciones con valores faltantes](#Sol1_1)
###### $\;\;\;\;$ [Solución 1.2: Descartar las columnas donde falte al menos un elemento](#Sol1_2)
###### $\;\;\;\;$ [Solución 1.3: Descartar filas donde falten todos los valores](#Sol1_3)
###### $\;\;\;\;$ [Solución 1.4: Descartar filas con un Threshold](#Sol1_4)
###### $\;\;\;\;$ [Solución 1.5: Descartar columnas con un Threshold](#Sol1_5)

##### [Solución 2: Sustituir](#Sol2)
###### $\;\;\;\;$ [Solución 2.1: Sustituir por la media](#Sol2_1)
###### $\;\;\;\;$ [Solución 2.2: Sustituir por la mediana](#Sol2_2)
###### $\;\;\;\;$ [Solución 2.3: Sustituir por la moda](#Sol2_3)
###### $\;\;\;\;$ [Solución 2.4: Sustituir por método de preferencia](#Sol2_4)

<a id='CargarDatos'></a>
#### Cargar Datos

Importar librarías a utilizar.

In [1]:
import pandas as pd
import numpy as np

Cargar el dataframe a utilizar.

In [2]:
mypath = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

df = pd.read_csv(mypath, index_col=0)
df.index.name = None

Se imprimen las primeras 5 líneas del dataframe.

In [3]:
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Se revisa si el Data Frame contiene valores vacíos.

In [4]:
df.isnull().values.any()

True

Se revisa qué columnas contienen valores vacíos.

In [5]:
df.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Se imprime la descripción de la tabal con las principales medidas estadísticas.

In [6]:
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,29984.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,-0.266342,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,1.133296,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

Sabiendo que sólo hay 42 filas que contienen elementos vacíos, se imprimen estas para poder ver si hay un patrón en cuanto a las columnas que muestran valores vacíos para estos registros.

In [40]:
df[df.isnull().any(axis=1)]

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
19,360000,2.0,1.0,1.0,49.0,1.0,-2.0,-2.0,-2.0,-2.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,50000,1.0,1.0,2.0,25.0,1.0,-1.0,-1.0,-2.0,-2.0,...,0.0,0.0,NaN,780.0,0.0,0.0,0.0,0.0,0.0,1.0
50,20000,1.0,1.0,2.0,24.0,0.0,0.0,0.0,0.0,NaN,...,19865.0,20480.0,20063.0,1318.0,1315.0,704.0,928.0,912.0,1069.0,0.0
65,130000,2.0,2.0,1.0,51.0,-1.0,-1.0,-2.0,-2.0,-1.0,...,0.0,2353.0,0.0,0.0,NaN,0.0,2353.0,0.0,0.0,0.0
161,30000,1.0,1.0,2.0,41.0,2.0,2.0,2.0,NaN,2.0,...,28168.0,27579.0,28321.0,3500.0,0.0,2200.0,NaN,1200.0,1250.0,0.0
174,50000,2.0,1.0,2.0,24.0,1.0,-2.0,-2.0,-2.0,-2.0,...,-2898.0,-3272.0,-3272.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0
176,130000,1.0,3.0,1.0,56.0,1.0,2.0,2.0,2.0,2.0,...,68557.0,NaN,71345.0,3000.0,3000.0,3000.0,5500.0,0.0,0.0,1.0
183,500000,2.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,...,122967.0,108834.0,70064.0,70010.0,30357.0,30000.0,20000.0,52183.0,20000.0,0.0
220,310000,2.0,1.0,2.0,NaN,-1.0,-1.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,4542.0,126.0,0.0,0.0,0.0,0.0,0.0
234,190000,1.0,2.0,2.0,34.0,2.0,0.0,0.0,0.0,NaN,...,142323.0,140120.0,150052.0,5000.0,5000.0,10000.0,0.0,12118.0,2769.0,1.0
240,140000,2.0,2.0,3.0,NaN,0.0,0.0,0.0,0.0,0.0,...,19068.0,16409.0,16383.0,3000.0,2000.0,2198.0,1000.0,3000.0,2399.0,1.0
241,60000,2.0,1.0,2.0,28.0,1.0,2.0,2.0,-2.0,-2.0,...,0.0,NaN,2285.0,0.0,0.0,0.0,0.0,2285.0,0.0,0.0
246,20000,2.0,2.0,2.0,40.0,0.0,0.0,0.0,0.0,0.0,...,19575.0,0.0,0.0,1601.0,2203.0,2114.0,NaN,NaN,0.0,0.0
247,250000,2.0,2.0,1.0,75.0,0.0,-1.0,-1.0,-1.0,-1.0,...,1010.0,5572.0,794.0,1631.0,1536.0,1010.0,5572.0,NaN,NaN,0.0
248,100000,2.0,2.0,2.0,27.0,0.0,0.0,0.0,0.0,0.0,...,30337.0,30997.0,32904.0,1788.0,1799.0,1100.0,1150.0,2423.0,NaN,0.0
6228,30000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0
6233,60000,2.0,2.0,2.0,29.0,2.0,2.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6269,120000,1.0,2.0,2.0,29.0,1.0,2.0,0.0,0.0,NaN,...,91380.0,93263.0,95079.0,0.0,3200.0,6800.0,3500.0,3500.0,0.0,1.0
6270,400000,2.0,1.0,2.0,27.0,1.0,-2.0,-1.0,0.0,NaN,...,12640.0,14805.0,238.0,140.0,12527.0,253.0,2305.0,238.0,238.0,0.0
6271,50000,2.0,1.0,1.0,55.0,0.0,0.0,0.0,0.0,NaN,...,19431.0,19837.0,20232.0,1775.0,1815.0,695.0,719.0,724.0,750.0,0.0
6277,30000,1.0,3.0,1.0,32.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1400.0,3000.0,1431.0,483.0,0.0,700.0,0.0,0.0
6278,110000,2.0,1.0,2.0,32.0,1.0,2.0,0.0,0.0,0.0,...,NaN,NaN,25453.0,1210.0,2056.0,1200.0,2300.0,0.0,1000.0,1.0
6279,20000,2.0,3.0,2.0,54.0,0.0,0.0,2.0,2.0,2.0,...,NaN,NaN,9116.0,2000.0,1000.0,1000.0,0.0,500.0,500.0,0.0
6383,80000,2.0,2.0,1.0,30.0,1.0,2.0,0.0,0.0,NaN,...,75374.0,77158.0,78710.0,0.0,3299.0,2699.0,3000.0,2987.0,3100.0,0.0
6384,90000,1.0,2.0,2.0,29.0,0.0,0.0,0.0,0.0,NaN,...,69362.0,70537.0,56775.0,4400.0,4111.0,2100.0,2200.0,2510.0,2000.0,0.0
6385,20000,2.0,2.0,2.0,22.0,0.0,0.0,0.0,0.0,NaN,...,20055.0,19606.0,19925.0,1298.0,1909.0,1666.0,5000.0,703.0,775.0,0.0
17990,80000,1.0,2.0,1.0,46.0,0.0,0.0,NaN,0.0,0.0,...,64237.0,47890.0,48036.0,3542.0,3500.0,2500.0,2000.0,2500.0,2000.0,0.0
17991,50000,1.0,3.0,2.0,41.0,0.0,0.0,0.0,0.0,0.0,...,50269.0,29182.0,29096.0,4200.0,2200.0,3300.0,1200.0,1100.0,1100.0,0.0
18004,70000,1.0,2.0,2.0,33.0,1.0,2.0,NaN,7.0,7.0,...,38922.0,38318.0,38133.0,12000.0,0.0,2500.0,0.0,1000.0,1500.0,0.0
23944,20000,1.0,2.0,2.0,24.0,0.0,0.0,2.0,3.0,2.0,...,17755.0,17967.0,17538.0,3200.0,2200.0,0.0,800.0,NaN,1401.0,0.0
23991,60000,1.0,2.0,2.0,26.0,0.0,0.0,0.0,NaN,0.0,...,58938.0,30101.0,29735.0,2113.0,2500.0,3000.0,2500.0,1500.0,1100.0,0.0
23992,50000,1.0,3.0,2.0,25.0,0.0,0.0,0.0,NaN,2.0,...,49485.0,49083.0,45187.0,2100.0,2200.0,3500.0,2000.0,0.0,5151.0,0.0
23993,50000,1.0,2.0,2.0,24.0,0.0,0.0,0.0,NaN,0.0,...,41286.0,16764.0,16960.0,2150.0,2352.0,1239.0,717.0,585.0,589.0,0.0
24124,50000,1.0,1.0,2.0,29.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,0.0
24366,130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0
29734,300000,1.0,2.0,1.0,37.0,-2.0,-2.0,-1.0,-1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3081.0,0.0
29735,500000,1.0,2.0,1.0,49.0,-1.0,-1.0,2.0,-1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0,1.0
29736,50000,1.0,3.0,1.0,40.0,2.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,406.0,1.0
29825,40000,1.0,1.0,1.0,47.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29826,50000,1.0,2.0,1.0,41.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29833,20000,1.0,2.0,2.0,30.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,20090.0,1279.0,3000.0,6668.0,468.0,507.0,5582.0,0.0
29834,20000,1.0,2.0,2.0,31.0,-1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,19103.0,390.0,780.0,0.0,806.0,19103.0,1000.0,1.0

<a id='Sol1'></a>
#### Solución 1: Descartar

<a id='Sol1_1'></a>
##### Solución 1.1:  Descartar las observaciones con valores faltantes

In [8]:
df1_1 = df.copy()
df1_1.dropna(inplace = True)

In [9]:
df1_1.isnull().values.any()

False

In [10]:
# df1_1.describe()

La solución me parece aceptable porque se eliminaron 42 filas de 30,000. Esto equivale a 0.14% de los datos, lo cual no es significativo.

<a id='Sol1_2'></a>
##### Solución 1.2: Descartar las columnas donde falte al menos un elemento

In [11]:
df1_2 = df.copy()
df1_2.dropna(axis = 1, inplace = True)

In [12]:
df1_2.isnull().values.any()

False

In [36]:
# df1_2.describe()

Esta solución no es buena, ya que como se vio en el análisis inicial todas las columnas presentan datos faltantes.

<a id='Sol1_3'></a>
##### Solución 1.3: Descartar filas donde falten todos los valores

In [14]:
df1_3 = df.copy()
df1_3.dropna(how='all', inplace = True)

In [15]:
df1_3.isnull().values.any()

True

In [16]:
# df1_3.describe()

Esta solución tampoco es buena, ya que no logra eliminar niguna de las filas con valores faltantes.

<a id='Sol1_4'></a>
##### Solución 1.4: Descartar filas con un Threshold

Mantenga solo las filas con al menos 20 valores que  **NO SEAN** `nan`

In [17]:
df1_4 = df.copy()
df1_4.dropna(thresh=20, inplace = True)

In [18]:
df1_4.isnull().values.any()

True

In [19]:
# df1_4.describe()

Es una solución en la que muchas columnas siguen mostrando valores faltantes. Revisar si se puede ajustar el threshold para obtener mejores resultados.

<a id='Sol1_5'></a>
##### Solución 1.5: Descartar columnas con un Threshold

In [20]:
df1_5 = df.copy()
df1_5.dropna(thresh = 29990, axis = 1, inplace = True)

In [21]:
df1_5.isnull().values.any()

True

In [22]:
# df1_5.describe()

No es una solución viable porque elimina una gran cantidad de columnas. Revisar si se puede ajustar el threshold para obtener mejores resultados.

<a id='Sol2'></a>
#### Solución 2: Sustituir

<a id='Sol2_1'></a>
##### Solución 2.1: Sustituir por la media

In [23]:
df2_1 = df.copy()
for column in df2_1.columns:
    avg = df2_1[column].mean()
    df2_1[column].fillna(value = avg, inplace = True)

In [24]:
df2_1.isnull().values.any()

False

In [25]:
# df2_1.describe()

Esta sustitución puede generar problemas en valores estadísticos como el error o la desviación estándar.

<a id='Sol2_2'></a>
##### Solución 2.2: Sustituir por la mediana

In [26]:
df2_2 = df.copy()
for column in df2_1.columns:
    med = df2_2[column].median()
    df2_2[column].fillna(value = med, inplace = True)

In [27]:
df2_2.isnull().values.any()

False

In [28]:
# df2_2.describe()

Esta sustitución puede generar problemas si los datos tienen una distribución uniforme.

<a id='Sol2_3'></a>
##### Solución 2.3: Sustituir por la moda

In [29]:
df2_3 = df.copy()
for column in df2_3.columns:
    mod = df2_3[column].mode()[0]
    df2_3[column].fillna(value = mod, inplace = True)

In [30]:
df2_3.isnull().values.any()

False

In [31]:
# df2_3.describe()

Esta sustitución puede no ser conveniente en casos donde los datos no sean categóricos.

<a id='Sol2_4'></a>
##### Solución 2.4: Sustituir por método de preferencia

In [32]:
df2_4 = df.copy()

favs = {'X1': df2_4['X1'].mean(),
        'X2': df2_4['X2'].mean(),
        'X3': df2_4['X3'].mean(),
        'X4': df2_4['X4'].mean(),
        'X5': df2_4['X5'].mean(),
        'X6': df2_4['X6'].mean(),
        'X7': df2_4['X7'].mean(),
        'X8': df2_4['X8'].mean(),
        'X9': df2_4['X9'].mean(),
        'X10': df2_4['X10'].mean(),
        'X11': df2_4['X11'].mean(),
        'X12': df2_4['X12'].mean(),
        'X13': df2_4['X13'].mean(),
        'X14': df2_4['X14'].mean(),
        'X15': df2_4['X15'].mean(),
        'X16': df2_4['X16'].mean(),
        'X17': df2_4['X17'].mean(),
        'X18': df2_4['X18'].mean(),
        'X19': df2_4['X19'].mean(),
        'X20': df2_4['X20'].mean(),
        'X21': df2_4['X21'].mean(),
        'X22': df2_4['X22'].mean(),
        'X23': df2_4['X23'].mean(),   
        'Y': df2_4['Y'].mean()
       }

for column in df2_4.columns:
    if column in favs:
        df2_4[column].fillna(value = favs[column], inplace = True)

In [33]:
df2_4.isnull().values.any()

False

In [34]:
# df2_4.describe()

Esta sustitución puede ser personalizada para cada columna, minimizando así el impacto negativo de los distintos tipos de sustituciones.

<a id='Parte3'></a>
### 3.- Parte 3

$\;\;\;\;\;$**1.- ¿Qué datos considero mas importantes? ¿Por qué?**

$\;\;\;\;\;$**2.- ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

$\;\;\;\;\;$**3.- ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**

$\;\;\;\;\;$**4.- ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

$\;\;\;\;\;$**5.- ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

<a id='Ref'></a>
### Referencias

Amazon Web Services, Inc. (n.d.). *Data Warehouse Concepts*. Consultado el 02 de Octubre de 2022, de Amazon Web Services, Inc.: https://aws.amazon.com/data-warehouse/

Grase-Martin, K. (n.d.). *Missing Data: Two Big Problems with Mean Imputation*. Consultado el 02 de Octubre de 2022, de The Analysis Factor: https://www.theanalysisfactor.com/mean-imputation/

Grase-Martin, K. (n.d.). *Seven Ways to Make up Data: Common Methods to Imputing Missing Data*. Consultado el 02 de Octubre de 2022, de The Analysis Factor: https://www.theanalysisfactor.com/seven-ways-to-make-up-data-common-methods-to-imputing-missing-data/

Kane, F. (2017). *Hands-on Data Science and Python Machine Learning*. Packt. https://newoutlook.it/download/python/hands-on-data-science.pdf

Metwalli, S. (2020). *Databases 101: Introduction to Databases for Data Scientists*. Consultado el 02 de Octubre de 2022, de Towards Data Science: https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d

Oracle. (n.d.). *What Is a Data Warehouse?* Consultado el 02 de Octubre de 2022, de Oracle Cloud: https://www.oracle.com/database/what-is-a-data-warehouse/

Teate, R. (2021). *SQl for Data Scientists*. Wiley. https://learning.oreilly.com/library/view/sql-for-data/9781119669364/